.journal-outer-body {
	width: 550px;
	height: 760px;
    margin: 270px auto;
	background-color: aquamarine;
}

.journal-inner-body {
	width: 500px;
	height: 700px;
	display: flex;
margin: 0px 10px 4px 6px  ;
	flex-direction: column;
	background-color: black;
    position:relative;
}
